<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="win.zhangzhixing.order.mapper.OrderMapper">
    <select id="query" resultType="win.zhangzhixing.order.response.OrderResp">
        SELECT o.id, o.user_id, o.product_id, o.status, o.order_time, o.total_amount
        FROM t_order o
        <where>
            <if test="userId != null and userId !=''">
                and user_id = #{userId}
            </if>
            <if test="productId != null and productId !=''">
                and product_id = #{productId}
            </if>
            <if test="status != null and status !=''">
                and status = #{status}
            </if>
            <if test="startOrderTime != null">
                <![CDATA[and order_time >= #{startOrderTime}]]>
            </if>
            <if test="endOrderTime != null">
                <![CDATA[and order_time <= #{endOrderTime}]]>
            </if>
            <if test="totalAmount != null">
                and total_amount = #{totalAmount}
            </if>
        </where>
    </select>
</mapper>